/* Changes to the default CSS of elements. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body {
    background-color: #780000;
    height: 100vh;
    display: flex;
}
div {
    display: inline-block;
}
main {
    display: flex;
    width: 100%;
    color: #C1121F;
    flex-direction: column;
}
iframe {
    display: flex;
    
}
header {
    text-align: center;
    margin: 30px 5%;
    background-color: #FDF0D5;
    border-radius: 25px;
    min-width: 300px;
    height: 62px;
}
li {
    margin-left: 10px;
    color: #C1121F;
    font-size: large;
    list-style: none;
    font-weight: 450;
}
h1 {
    font-weight: 600;
}
h3 {
    font-weight: 500;
}
h4 {
    font-weight: 500;
}
a {
    font-size: 17px;
    font-weight: 550;
    
}
a:hover {
    color: #FDF0D5;
}
button {
    margin: 0 5px 5px 5px;
    width: 50px;
    height: 25px;
}
li a  {
    color: #669BBC;
}
/* CSS for the google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.inter-font1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

/* CSS for sidebar related content */
#sidebarframe {
    width: 100px;
    border: 0;
    position: fixed;
}
#sidebarframe.extended {
    width: 200px;
}
#sidebardiv {
    width: 100px;
    border: 0;
    display: flex;
    min-width: 100px;
}
#sidebardiv.extended {
    width: 200px;
    display: flex;
    min-width: 200px;
}
.sidebar.extended {
    height: 100%;
    border-style: solid;
    border-width: 0 1px 0 0;
    width: 200px;
    position: fixed;
}
.sidebar {
    height: 100%;
    border-style: solid;
    border-width: 0 1px 0 0;
    width: 100px;
    position: fixed;
    background-color: #003049;
}
.logo.extended{
    border: solid 1px black;
    margin: 15px auto;
    display: block;
    width: 150px;
}
.sidebarbox {
    border: solid 1px black;
    margin: 4px auto;
    display: block;
    width: 90px;
    height: 90px;
    background-color: #669BBC;
    border-radius: 15px;
    overflow: hidden;
    align-content: center;
}
.sidebarbox.extended {
    border: solid 1px black;
    margin: 4px auto;
    display: block;
    width: 190px;
    height: 190px;

}
.sidebarbox:hover {
    color: #FDF0D5;
}
.sidebarbox:active {
    background-color: #003049;
}
.sidebarbtn {
    height: 99px;
    width: 100px;
    border: solid black;
    border-width: 0 0 1px 0;
    display: flex;    
}
.sidebarbtn.extended {
    height: 199px;
    width: 200px;
    border: solid black;
    border-width: 0 0 1px 0;    
}
.sidebartext {
    text-align: center;
}
.logo {
    width: 88px
}
.extendbtn {
    display: block;
    border: solid black;
    border-width: 1px 0 0 0;
    height: 180px;
    width: 100px;
    position: absolute;
    top: 95%;
    bottom: 100%;
    padding: 5px;
    text-align: center;
    background-color: #669BBC;
}
.extendbtn.extended {
    display: block;
    border: solid black;
    border-width: 1px 0 0 0;
    height: 180px;
    width: 200px;
    position: absolute;
    top: 95%;
    bottom: 100%;
    padding: 5px;
    text-align: center;
}
.extendbtn:hover {
    color: #FDF0D5;
}
.extendbtn:active {
    background-color: #003049;
}
/* Class that hides elements it is attached to */
.hidden {
    display: none;
}
/* CSS for the main page */
.subheader {
    text-align: center;
    margin: 10px 25%;
    background-color: #FDF0D5;
    border-radius: 25px;
    max-width: 500px;
    min-width: 300px;
    align-self: center;
    padding: 0 20px 5px;
}
.content {
    width: 100%;
    height: 100%;
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
.boxtype1 {
    background-color: #FDF0D5;
    height: 550px;
    width: 356px;
    margin: 5px 1%;
    border-radius: 25px;
    border: 3px solid #FDF0D5;
    display: flex;
    min-width: 300px;
    flex-direction: column;
    overflow: hidden;
}
.boxtype2 {
    background-color: #FDF0D5;
    height: fit-content;
    min-width: 300px;
    border-radius: 15px;
    border: 3px solid #FDF0D5;
    display: flex;
    margin: 10px 1%;
    padding-bottom: 5px;
    flex: 1 1 300px;
}
.imgbox {
    width: 100%;
    height: 65%;
    overflow: hidden;
}
.infobox {
    border-width: 1px 0 0 0;
    border-style: solid;
    width: 100%;
    height: 36%;
    display: flex;
    flex-direction: row;
}
.infotext {
    margin: 2px 6px;
    width: 100%;
}
.boxbutton {
    width: 92px;
    height: 66px;
    margin: 81px 1px 0 0;
    border: 1px solid #003049;
    border-radius: 10px;
    float: right;
    background-color:#669BBC;
    color:#C1121F;
    align-content: center;
    shape-outside: inset(calc(100% - 55px) 0 0);
    text-align: center;
}
.boxbutton:hover {
    color: #FDF0D5;
}
.boxbutton:active {
    background-color: #003049;
}
.gameimg {
    width: 100%;
}
/* Classes related to lists */
.sidebarlist {
    display: inline-block;
    margin-left: 1px;
}
.sidebarlist.hidden {
    display: none;
}
#liststart {
    margin-left: 3px;
    margin-top: 5px;
}
.finallist {
    margin-left: 16px;
}

.gamemain {
    flex-direction: row;
    flex-wrap: wrap;
}
/* Classes related to the infobar */
.infobar {
    width: 250px;
    height: 100vh;
    float: right;
    margin-left: auto;
    background-color: #003049;
    display: flex;
    flex-direction: column;
}
.infobarheader {
    text-align: center;
    margin: 10px auto;
    color: #C1121F;    
}
.coverimg {
    margin: 5px 10px;
    padding: 5px 5px;
    border: 0px;
    background-color: #669BBC;
}
.maininfo {
    max-width: fit-content;
    margin: 4px;
}
.generalinfo {
    height: 100%;
    border-top: #780000 solid 2px;
    margin: 5px 7px;
}
.inforow {
    margin-top: 4px;
    margin-left: 5px;
    font-size: medium;
    vertical-align: top;
}
.line {
    margin-top: 3px;
    border-top: #780000 2px solid;
}
.infobarheader.sub {
    margin-top: 5px;
    margin-bottom: 0;
}
.gamediv {
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    
}
.gameimgbox {
    background-color: #FDF0D5;
    width: 700px;
    height: 428px;
    margin: 10px 1%;
    position: relative;
    display: flex;
    border:#FDF0D5 solid 2px;
    border-radius: 20px;
    overflow: hidden;
}
.gameimg {
    padding: 5px 5px 0 5px;
    z-index: 0;
    position: absolute;
    border-radius: 22px 22px 15px 15px;
}
.imgcontrols {
    margin: 0 10px;
    width: 100%;
    align-content: flex-end;
}
.rightbtn {
    float: right;
}
.imgcounter {
    display: inline;
    margin: 0 33%;
}
.gameimg.z {
    padding: 5px 5px 0 5px;
    z-index: 1;
}
.box1img {
    width: 100%;
}
.pegiimg {
    width: 55px;
    height: auto;
}
/* Class for the extend button */
.extend {
    color: #003049;
}

/*Class for the review part*/
.boxtype2.review {
    min-width: 500px;
    height: fit-content;
    flex: 0;

}
.upperpart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
